img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.cat-label {
  margin: 4px;

}

.prod-disc {
  background-color: red;
  border-radius: 50px;
  padding: 3px;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  text-decoration: line-through;
}
